<!DOCTYPE html>
<html>
  <head>
    <title>Elise Couture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->
    <style type="text/css">
    #my-thumbs img {
      margin-bottom:1px;
    }
    a { color: #2B4E72; }
    body { background:#ccc; }
    </style>
  </head>
  <body>
    
    <div style="padding:1em 0;background:#B1C27E;font-size:1.3em;border:solid black; border-width:0 0 1px 0; box-shadow: inset 0 -3px 6px rgba(0,0,0,.2)">
      <div class="container">
        <div class="row" >
          <div class="span8">
            <ul class="unstyled inline" style="margin:0;">
              <li style="padding-left:0;">@Html.ActionLink("about", "index", "home")</li>
              <li><a href="#">@Html.ActionLink("services", "index", "services")</a></li>
              <li><a href="#">@Html.ActionLink("blog", "index", "blog")</a></li>
              <li><a href="#">@Html.ActionLink("community", "index", "community")</a></li>
            </ul>
          </div>
          <div class="span4" style="text-align:right;font-size:1.5em;">LOGO</div>
        </div>
      </div>
    </div>
    
    <div style="background:#383838;" id="my-thumbs">
      <div class="container">
        <div>
          <div style="width:188px;float:left;">
            <img src="/img/mosaic8.jpg" style="width:187px;height:187px;" alt="">
            <img src="/img/mosaic3.jpg" style="width:187px;height:187px;" alt="">
          </div>
          <div style="width:375px;float:left;">
            <img src="/img/mosaic1.jpg" style="width:374px;height:375px;" alt="">
          </div>
          <div style="width:188px;float:left;">
            <img src="/img/mosaic4.jpg" style="width:187px;height:187px;" alt="">
            <img src="/img/mosaic5.jpg" style="width:187px;height:187px;" alt="">
          </div>
          <div style="width:189px;float:left;">
            <img src="/img/mosaic6.jpg" style="width:189px;height:187px;" alt="">
            <img src="/img/mosaic7.jpg" style="width:189px;height:187px;" alt="">
          </div>
          <div style="clear:left;"></div>
        </div>
      </div>
    </div>
    
    <div style="background:#ccc; box-shadow: inset 0 3px 6px rgba(0,0,0,.2)">
      <div class="container">
        <div style="background:#eee;padding:1em;margin-bottom:2em;border-radius:0 0 5px 5px;padding-top:2em;">
            @RenderBody()
        </div>
      </div>
    </div>
    
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.js"></script>
  </body>
</html>