@{ 
    Layout = "_LayoutPage.cshtml";
    ViewBag.Image1 = "/img/food/food-basket.jpg";
    ViewBag.Image2 = "/img/food/water-bottle.jpg";
    ViewBag.Image3 = "/img/food/green-heart.jpg";
    ViewBag.Image4 = "/img/food/breakfast.jpg";
    ViewBag.Image5 = "/img/food/tea.jpg";
    ViewBag.Image6 = "/img/exercise/yoga-sunrise.jpg";
    ViewBag.Image7 = "/img/bicycle/bike-dof.jpg";
    var FacebookIcon = "&#xf30c;";
    var PinterestIcon = "&#xf312;";
    var InstagramIcon = "&#xf32d;";
    //var TwitterIcon = "&#xf309;";
    //var VimeoIcon = "&#xf306";
    //var RSSIcon = "&#xe73a";
    //var YouTubeIcon = "&#xf313";
    //var EmailIcon = "&#x2709";
}

<div style="background:#383838;">
    <div class="content">
        <div class="masthead">
            <div class="imgs">
                <div class="img" style="background-image:url('@ViewBag.Image1');"></div>
                <div class="img r2" style="background-image:url('@ViewBag.Image2');"></div>

                <div class="img c2" style="background-image:url('@ViewBag.Image3');"></div>

                <div class="img c3" style="background-image:url('@ViewBag.Image4');"></div>
                <div class="img c3 r2" style="background-image:url('@ViewBag.Image5');"></div>

                <div class="img c4" style="background-image:url('@ViewBag.Image6');"></div>
                <div class="img c4 r2" style="background-image:url('@ViewBag.Image7');"></div>
            </div>
        </div>
    </div>
</div>

<div id="body">
    <div class="content">
        <div style="background:#eee;padding:1em;margin-bottom:2em;border-radius:0 0 5px 5px;padding-top:2em;">
            <div id="social-icons">
                <a href="http://facebook.com/amoryfitness/">
                    <span class="ico-facebook">@MvcHtmlString.Create(FacebookIcon)</span>
                </a>
                <a href="http://pinterest.com/ecouturestone/">
                    <span class="ico-pinterest">@MvcHtmlString.Create(PinterestIcon)</span>
                </a>
                <a href="http://instagram.com/elisecstone">
                    <span class="ico-instagram">@MvcHtmlString.Create(InstagramIcon)</span>
                </a>
            </div>
            @RenderBody()
        </div>
    </div>
</div>