@{ 
    Layout = "_LayoutPage.cshtml";
    ViewBag.Image1 = "/img/food/food-basket.jpg";
    ViewBag.Image2 = "/img/food/water-bottle.jpg";
    ViewBag.Image3 = "/img/food/green-heart.jpg";
    ViewBag.Image4 = "/img/food/breakfast.jpg";
    ViewBag.Image5 = "/img/food/tea.jpg";
    ViewBag.Image6 = "/img/exercise/yoga-sunrise.jpg";
    ViewBag.Image7 = "/img/bicycle/bike-dof.jpg";
}

<div style="background:#383838;">
    <div style="max-width:940px;margin:auto;">
        <div class="masthead">
            <div class="imgs">
                <div class="img" style="background-image:url('@ViewBag.Image1');"></div>
                <div class="img r2" style="background-image:url('@ViewBag.Image2');"></div>

                <div class="img c2" style="background-image:url('@ViewBag.Image3');"></div>

                <div class="img c3" style="background-image:url('@ViewBag.Image4');"></div>
                <div class="img c3 r2" style="background-image:url('@ViewBag.Image5');"></div>

                <div class="img c4" style="background-image:url('@ViewBag.Image6');"></div>
                <div class="img c4 r2" style="background-image:url('@ViewBag.Image7');"></div>
            </div>
        </div>
    </div>
</div>

<div style="background:#ccc; box-shadow: inset 0 3px 6px rgba(0,0,0,.2)">
    <div style="max-width:940px;margin:auto;">
        <div style="background:#eee;padding:1em;margin-bottom:2em;border-radius:0 0 5px 5px;padding-top:2em;">
            <div style="text-align:right;margin-top:-1em;font-size:20px;">
                <a href="http://facebook.com/amoryfitness/"><span class="ico-facebook">&#xf30c;</span></a>
                <a href="http://pinterest.com/ecouturestone/"><span class="ico-pinterest">&#xf312;</span></a>
                <a href="http://instagram.com/elisecstone"><span class="ico-instagram">&#xf32d;</span></a>
                <!--
                <span class="icon icon-twitter">&#xf309;</span>
                <span style="font-family: 'fontello';">&#xf306;</span>
                <span style="font-family: 'fontello';">&#xe73a;</span>
                <span style="font-family: 'fontello';">&#xf313;</span>
                <span style="font-family: 'fontello';">&#x2709;</span>-->
            </div>
            @RenderBody()
        </div>
    </div>
</div>