@model EliseCouture.Web.Controllers.ContactModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<style type="text/css">
    label {
        font-weight:bold;
    }
    input,
    textarea {
        font-size:1.3em;
        width:100%;
        padding:.25em;
    }
    textarea {
        height:275px;
    }
</style>

<div class="row-fluid">
    <div class="offset3 span5">
    @using (Html.BeginForm())
    {
        <div>@Html.LabelFor(x => x.Email)</div>
        <div style="margin-bottom:1em;">
            @Html.TextBoxFor(x => x.Email)
            <span style="color:darkred;">@Html.ValidationMessageFor(x => x.Email)</span>
        </div>
    
        <div>@Html.LabelFor(x => x.Message)</div>
        <div style="margin-bottom:1em;">
            @Html.TextAreaFor(x => x.Message)
            <span style="color:darkred;">@Html.ValidationMessageFor(x => x.Message)</span>
        </div>
    
        <div>
            <input type="submit" value="send" />
        </div>
    }
    </div>
</div>