@model EliseCouture.Web.Controllers.ContactModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

@using (Html.BeginForm("index", "contact", FormMethod.Post, new { @class="form-horizontal" }))
{
    <div class="control-group @(ViewBag.EmailValid ? String.Empty : "error")">
        @Html.LabelFor(x => x.Email, new { @class="control-label" })
        <div class="controls">
            @Html.TextBoxFor(x => x.Email, new { @class="span5", placeholder="email" })
            <span class="help-inline">@Html.ValidationMessageFor(x => x.Email)</span>
        </div>
    </div>

    <div class="control-group @(ViewBag.MessageValid ? String.Empty : "error")">
        @Html.LabelFor(x => x.Message, new { @class="control-label" })
        <div class="controls">
            @Html.TextAreaFor(x => x.Message, new { @class="span5", placeholder="comments", rows="5" })
            <span class="help-inline">@Html.ValidationMessageFor(x => x.Message)</span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn" type="submit"><i class="icon-envelope"></i> Send</button>
        </div>
    </div>
}